{{#paper-toolbar}}
  <div class="md-toolbar-tools">
  {{#paper-button}}{{#link-to "spellbook"}}Spellbook{{/link-to}}{{/paper-button}}
  {{#paper-button}}{{#link-to "levels"}}Edit Levels{{/link-to}}{{/paper-button}}
  {{#paper-button}}{{#link-to "spells"}}Edit Spells{{/link-to}}{{/paper-button}}
  </div>
{{/paper-toolbar}}

{{#paper-content layout-padding="true"}}
  {{outlet}}
{{/paper-content}}
