<ul class="nav">
  <li>{{#link-to "spellbook"}}Spellbook{{/link-to}}</li>
  <li>{{#link-to "levels"}}Edit Levels{{/link-to}}</li>
  <li>{{#link-to "spells"}}Edit Spells{{/link-to}}</li>
</ul>

{{outlet}}
